.sircle1 {
    width: 100px;
    height: 100px;
    border: 10px solid red;
    border-radius: 50%;
    display: inline-block;
}

.sircle2 {
    position: absolute;
    left: 110px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 10px solid green;
    border-radius: 50%;
    display: inline-block;
}

.sircle3 {
    position: absolute;
    left: 220px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
    display: inline-block;
}

.sircle4 {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    border: 10px solid greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.sircle5 {
    position: absolute;
    left: 150px;
    top: 50px;
    width: 100px;
    height: 100px;
    border: 10px solid darkgreen;
    border-radius: 50%;
    display: inline-block;
}

.box {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -175px;

    width: 350px;
}













